.question-card {
  margin: 16px 0;
  padding: 16px;
  background-color: lightgray;
}

.mat-list-item {
  background-color: lightgray;
}

.correct-answer {
  font-weight: bold;
  color: green;
}

.wrong-answer {
  font-weight: bold;
  color: red;
}

mat-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

mat-icon {
  vertical-align: middle;
}





