<mat-card class="question-card">
  <mat-card-header>
    <mat-card-title>
      <strong>{{ item.question }}</strong>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div>
        <div>
          <mat-list>
            <mat-list-item *ngFor="let answer of item.mixedAnswers; let i = index">
              <button mat-raised-button color="primary" [ngClass]="{
              'correct-answer': isSelected != undefined && isCorrect && selectedIndex === i,
              'wrong-answer': isSelected != undefined && !isCorrect && selectedIndex === i}" [disabled]="isAnswered"
                      (click)="checkAnswer(answer, i)"> {{ answer.text }}
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
        <div *ngIf="isAnswered">
          <div>
            <mat-list>
              <mat-list-item>
                <mat-icon color="primary">check</mat-icon>
                <span class="correct-answer">{{ item.correct_answer }}</span>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
    </div>
  </mat-card-content>
</mat-card>
