<p>
  <mat-toolbar class="w-100">
    <div class="toolbar w-100 d-flex justify-content-between align-items-center">
      <div class="home-btn d-flex align-items-center">
        <button mat-icon-button routerLink = "homepage" class="text-decoration-none">
          <mat-icon>home</mat-icon>
        </button>
        <span>Flipped Classroom</span>
      </div>
      <div class="nav-btns d-flex">
        <button mat-raised-button class="mx-2" routerLink="/quiz-list">Start Quiz</button>
        <button mat-raised-button class="mx-2" routerLink="/options">Options</button>
      </div>
    </div>
  </mat-toolbar>
</p>
